.s-comece-quadro {
  position: relative;
  height: 690px;
  padding-top: 40px;
  padding-bottom: 60px;
  background: url("../img/bg-circles.png") no-repeat center bottom 140px;
  .txt-info {
    text-align: center;
    max-width: 664px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    line-height: 22px;
    color: #656D78;
    margin-bottom: 20px;
  }
  ul {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 75px;
    li {
      position: relative;
      .box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 320px;
        height: 96px;
        background-color: #FFFFFF;
        box-shadow: 4px 10px 60px rgba(101, 109, 120, 0.15);
        border-radius: 10px;
        transform: scale(1);
        transition: all .3s;
        img {
          margin-right: 14px;
        }
        h3 {
          max-width: 200px;
        }
        &:hover {
          transform: scale(1.03);
          transition: all .3s;
        }
      }
      &:first-child {
        &:after {
          content: "";
          background: url("../img/line-left-circle.png") no-repeat center center;
          position: absolute;
          bottom: -190px;
          left: -10px;
          width: 190px;
          height: 180px;
        }
      }
      &:last-child {
        &:after {
          content: "";
          background: url("../img/line-right-circle.png") no-repeat center center;
          position: absolute;
          bottom: -155px;
          left: 125px;
          width: 190px;
          height: 140px;
        }
      }
      &:nth-child(2) {
        &:after {
          content: "";
          background: url("../img/line-center-circle.png") no-repeat center center;
          position: absolute;
          bottom: -177px;
          left: 50%;
          width: 12px;
          height: 161px;
          margin-left: -6px;
        }
      }
    }
  }
  .circles {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .circle {
      position: relative;
      width: 300px;
      height: 300px;
      background-color: #FFFFFF;
      box-shadow: 4px 10px 60px rgba(101,109,120,0.15);
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      z-index: 1;
      &:nth-child(2) {
        position: relative;
        top: 55px;
      }
      h4 {
        text-align: center;
        max-width: 212px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.5px;
        color: #FE7733;
      }
      p {
        text-align: center;
        max-width: 235px;
        font-size: 14px;
        line-height: 18px;
        color: #656D78;
      }
    }
  }
  @media(max-width: 480px) {
    height: auto;
    padding-top: 40px;
    background: #ffffff;
    &:before {
      content: "";
      border-top: 1px solid #E8E9EB;
      width: 310px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -155px;
    }
    .txt-info {
      font-size: 14px;
      line-height: 18px;
      max-width: 240px;
    }
    ul {
      margin: 0;
      flex-direction: column;
      align-items: center;
      li {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0px;
        }
        &:after {
          display: none;
        }
        .box {
          background: #F7F7F7;
          border-radius: 10px;
          box-shadow: none;
        }
      }
    }
    .circles {
      display: none;
    }
  }
}